@model p6.Models.Product
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>New Product</h2>


@using (Html.BeginForm("Create", "Products", FormMethod.Post))
{
    <div class="form-row">
        <div class="form-group col-md-6">
           
            @Html.LabelFor(m=>m.ProductName)
            @Html.TextBoxFor(m=>m.ProductName, new { placeholder="Product Name", @class="form-control"})
            @Html.ValidationMessageFor(m=>m.ProductName)   
        </div>
        <div class="form-group col-md-6">

            @Html.LabelFor(m => m.Price)
            @Html.TextBoxFor(m => m.Price, new { placeholder = "Price", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Price)
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="DateOfPurchase">Date of Purchase</label>
            <input type="date" class="form-control" id="DateOfPurchase" name="DateOfPurchase" placeholder="Date of Purchase">
            @Html.ValidationMessageFor(m => m.Price)
        </div>
        <div class="form-group col-md-6">
            <select class="form-control" id="AvailabilityStatus" name="AvailabilityStatus">
                <option value="">Please Select</option>
                <option value="InStock">InStock</option>
                <option value="OutStock">OutStock</option>

            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="CategoryID">Category ID</label>
            <select class="form-control" id="CategoryID" name="CategoryID">
                <option value="">Please Select</option>
                @foreach (var cat in ViewBag.category)
                {
                    <option value="@cat.CategoryID">@cat.CategoryName</option>
                }
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="BrandID">Brand ID</label>
            <select class="form-control" id="BrandID" name="BrandID">
                <option value="">Please Select</option>
                @foreach (var cat in ViewBag.brand)
                {
                    <option value="@cat.BrandID">@cat.BrandName</option>
                }
            </select>

        </div>
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="Active" name="Active" value="true">
            <label class="form-check-label" for="Active">
                Active
            </label>
        </div>
    </div>

    <button type="submit" class="btn btn-success">Create</button>
    <a class="btn btn-danger" href="/products/index">Cancel</a>
}




